<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Trailshare Flutter</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>trailshare_flutter</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>reserved-client-ID</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.760969043040-rebmjpn824dc40gfo8s70k7n96262ud5</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>TrailShare ha bisogno della tua posizione per registrare le tue escursioni.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>TrailShare ha bisogno della tua posizione per mostrare dove ti trovi sulla mappa.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIFileSharingEnabled</key>
		<true/>
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<true/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Per registrare i percorsi anche con schermo bloccato</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>location</string>
			<string>fetch</string>
		</array>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>TrailShare usa il Bluetooth per connettersi alla fascia cardio</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>TrailShare usa il Bluetooth per connettersi alla fascia cardio</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>bluetooth-central</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>TrailShare ha bisogno della fotocamera per scattare foto durante le escursioni</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>TrailShare ha bisogno di accedere alle foto per aggiungere immagini alle tracce</string>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
